<div class="row">
    <div class="col-md-6">
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Adresse email</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Mot de passe actuel</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>

    </div>
    <div class="col-md-6">
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Mot de passe</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Nouveau mot de passe</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Confirmer nouveau mot de passe</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
    </div>
</div>
<div class="float-end my-4">
    <button  type="submit" class="btn btn-warning ">Soumettre</button>
</div>