<div class="row">
    <div class="col-md-6">
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Raison sociale</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Slogan</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Secteur d'activité</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>

        <div class="form-group form-floating position-relative">
            <textarea 
                class="form-control" 
                style="min-height: 120px; max-height: 350px;"
                placeholder=" "
                rows="5"
                cols="30"
            ></textarea>
            <label 
                class="form_label"

            >Description</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>

        <div class="form-group form-floating position-relative">
            <select 
                class="form-control" 
                id="city"
            >
                <option value=""></option>
                <option value="">Agadir</option>
                <option value="">Agadir</option>
                <option value="">Agadir</option>
            </select>
            <label 
                class="form_label"
                for="city"
            >Ville</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-chevron-down text-dark"></i>
            </div>
           
        </div>
        <div class="form-group form-floating position-relative">
            <select 
                class="form-control" 
                id="city"
            >
                <option value=""></option>
                <option value="">exemple 1</option>
            </select>
            <label 
                class="form_label"
                for="city"
            >Forme juridique</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-chevron-down text-dark"></i>
            </div>
           
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Registre de commerce</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Identifiant fiscal</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
    </div>
    <div class="col-md-6">
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
                style="height: 90px;"
            >
            <label 
                class="form_label"

            >Déposze votre logo ici</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Adresse postale 1</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Adresse postale 2</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Code postal</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Pays</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >ICE</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Ville</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
        <div class="form-group form-floating position-relative">
            <input 
                class="form-control" 
                placeholder=" "
            >
            <label 
                class="form_label"

            >Taxe professionnelle</label>
            <div type="button" class="rightIcon">
                <i class="fas fa-pen"></i>
            </div>
        </div>
    </div>
</div>
<div class="float-end my-4">
    <button  type="submit" class="btn btn-warning ">Enregistrer</button>
</div>


<div class="form-group">
    <label for="exampleFormControlFile1">Example file input</label>
    <input type="file" class="form-control-file" id="exampleFormControlFile1">
  </div>