<div class="container">
    <nav class="d-flex justify-content-end my-3">
        <app-lang></app-lang>
    </nav>
    <div class="row mt-5 pt-5">
        <div class="col-md-6 text-center align-self-center animate__animated animate__fadeIn">
            <img src="assets/logo.png" class="m-auto " alt="logo" width="60%">
        </div>
        <div class="animate__animated animate__bounceInRight col-md-6">
            <h2 class="signuptitle">Commencer</h2>

            <span class="text-muted">Je n'ai pas encore un compte ? <a routerLink="/sign-up" class="text-warning">S'inscrire</a></span>
            <div class="text-center text-muted my-2">
                connectez-vous via
            </div>
            <app-social-media></app-social-media>

            <div class="d-flex justify-content-between my-3">
                <hr>
                <span class="mx-1 text-muted">Ou</span>
                <hr>
<div style="overflow: hidden;">
    <div class="container">
        <nav class="d-flex justify-content-end my-3">
            <app-lang></app-lang>
        </nav>
        <div class="row  mt-4">
            <div class="col-md-6 text-center align-self-center">
                <img src="assets/img/logo.png" class="logoZoomIn" alt="logo" width="100%">
            </div>
            <div class="animate__animated animate__bounceInRight col-md-6">
                <h2 class="title">Commencer</h2>
    
                <span class="text-muted">Je n'ai pas encore un compte ? <a type="button" routerLink="/sign-up" class="linkColor">{{signInUp}}</a></span>
                <div class="text-center text-muted my-2">
                    connectez-vous via
                </div>
                <app-social-media></app-social-media>
                <div class="d-flex justify-content-between my-3">
                    <hr>
                <div class="form-group  position-relative">
                    <i class="fa fa-lock"></i>
                    <div (click)="toggleTextType()" type="button" id="showPwd">
                        <i class="far fa-eye-slash"
                            [ngClass]="{
                                'fa-eye-slash': !passwordTextType,
                                'fa-eye': passwordTextType
                            }"
                            >
                        </i>
                    </div>
                    <small class="float-right"> <a routerLink="#">Mot de passe oublié?</a></small>
                <app-social-media></app-social-media>
                <div class="d-flex justify-content-between my-3">
                    <span class="mx-1 text-muted">Ou</span>
                    <hr>
                </div>
    
                <!-- start form sign up  -->
                <form [formGroup]= "signInForm" (ngSubmit)="onSignIn()" novalidate>
                    <div class="form-group form-floating">
                        <i class="fas fa-envelope"></i>
                        <input 
                            type="email" 
                            class="form-control" 
                            formControlName="email"
                            placeholder=" "
                            [ngClass]="{ 'is-invalid': email.invalid && email.touched, 'is-valid': email.valid && email.touched }" 
                            id="email"             
                        >
                        <label 
                            [ngClass]="{ 'text-danger': email.invalid && email.touched, 'text-success': email.valid  }"
                            for="email" 
                            class="form_label"
                        >Adresse email</label>
                    </div>
                    <div class="form-group form-floating position-relative">
                        <i class="fa fa-lock"></i>
                        <input 
                            [type]="passwordTextType ? 'text' : 'password'"
                            class="form-control" 
                            formControlName="password" 
                            placeholder=" "
                            minlength="8" maxlength="50"
                            [ngClass]="{ 'is-invalid': password.invalid && password.touched, 'is-valid': password.valid && password.touched }"                    
                        >
                        <label 
                            for="password" 
                            class="form_label"
                            [ngClass]="{ 'text-danger': password.invalid && password.touched, 'text-success': password.valid  }"
    
                        >Mot de passe</label>
                        <div (click)="toggleTextType()" type="button" class="rightIcon" [ngClass]=" { 'me-3': password.invalid && password.touched || password.valid }">
                            <i class="far fa-eye-slash"
                                [ngClass]="{
                                    'fa-eye-slash': !passwordTextType,
                                    'fa-eye': passwordTextType
                                }"
                                >
                            </i>
                        </div>
                        <small class="float-end"> <a routerLink="#">Mot de passe oublié?</a></small>
                    </div>
                    <div class="form-check">
                        <input type="checkbox" class="form-check-input" id="checkSignUp">
                        <label class="form-check-label text-secondary" for="checkSignUp">
                            <small>
                                Rester connecte
                            </small>
                        </label>
                    </div>
                    <div class="d-flex justify-content-center my-4">
                        <button [disabled]="!signInForm.valid" type="submit" class="btn btn-warning ">Se connecter</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>