<ul class="nav nav-pills nav-fill my-4">
    <a [routerLink]="['profil']" [routerLinkActive]="['active']" class="nav-item nav-link shadow-sm">Profil</a>
    <a [routerLink]="['products']" [routerLinkActive]="['active']" class="nav-item nav-link shadow-sm">Produits</a>
    <a [routerLink]="['orders']" [routerLinkActive]="['active']" class="nav-item nav-link shadow-sm">Commandes</a>
    <a [routerLink]="['network']" [routerLinkActive]="['active']" class="nav-item nav-link shadow-sm">Réseau</a>
    <a [routerLink]="['statistics']" [routerLinkActive]="['active']" class="nav-item nav-link shadow-sm">Statistiques</a>
</ul>